body{
    width:90%;
    text-align:center;
    
}

/*** {
    box-shadow: 1px 1px 1px 1px grey inset;
}**/

hr{
    float:none !important;
}

hr[a]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:70px;
    width:50px;
    border-left:6px black solid;
    border-right:6px black solid;
    border-top:6px black solid;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    margin-right:10px;

}

hr[a]::before{
    border-bottom:5px black solid;
    width:100%;
    height:20px;
    position: absolute;
    left:0px;
    content: '';
    top:5px;
}

hr[b]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:25px;
    width:50px;
    border:6px black solid;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    border-top-left-radius:3px;
    margin-right:10px;
    margin-bottom:48px;

}

hr[b]::before{
    border:5px black solid;
    width:100%;
    height:35px;
    position: absolute;
    top:26px;
    left:-6px;
    content: '';
    border-bottom-right-radius:15px;
    border-top-right-radius:20px;
        border-bottom-left-radius:3px;

}

hr[c]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:64px;
    width:50px;
    border:6px black solid;
    border-right:0px;
    margin-right:10px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
}

hr[d]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:64px;
    width:50px;
    border:6px black solid;
    margin-right:10px;
    border-bottom-right-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
}

hr[e]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:64px;
    width:50px;
    border:6px black solid;
    border-right:0px;
    margin-right:10px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:15px;
    border-top-left-radius:15px;
}

hr[e]::before{
    border-bottom:5px black solid;
    width:75%;
    height:20px;
    position: absolute;
    left:0px;
    content: '';
    top:9px;
}


hr[f]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:70px;
    width:50px;
    border:6px black solid;
    border-right:0px;
    border-bottom:0px;
    margin-right:10px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-top-left-radius:10px;
}

hr[f]::before{
    border-bottom:5px black solid;
    width:70%;
    height:20px;
    position: absolute;
    left:0px;
    content: '';
    top:5px;
}

hr[g]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:64px;
    width:50px;
    border:6px black solid;
    border-right:0px;
    border-bottom-right-radius:20px;
    border-top-right-radius:5px;
    border-top-left-radius:20px;
    border-bottom-left-radius:15px;
    margin-right:15px;
    

}

hr[g]::before{
    border:5px black solid;
    width:50%;
    height:35px;
    position: absolute;
    top:25px;
    border-left:0px;
    left:43%;
    content: '';
    
    border-bottom-right-radius:15px;
    border-top-right-radius:14px;
        border-top-left-radius:5px;

}

hr[g]::after{
    border-left:5px black solid;
    width:50%;
    height:15px;
    position: absolute;
    top:23px;
    left:43%;
    content: '';
    border-bottom-right-radius:15px;
    border-top-right-radius:14px;
        border-top-left-radius:5px;

}


hr[h]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:76px;
    width:50px;
    border-left:6px black solid;
    border-right:6px black solid;
    margin-right:10px;

}

hr[h]::before{
    border-bottom:5px black solid;
    width:100%;
    height:20px;
    position: absolute;
    left:0px;
    content: '';
    top:14px;
}

hr[i]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:64px;
    width:30px;
    border-top:6px black solid;
    border-bottom:6px black solid;
    margin-right:10px;

}

hr[i]::before{
    border-left:5px black solid;
    width:10%;
    height:64px;
    position: absolute;
    left:12px;
    content: '';
    top:0px;
}


hr[j]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:64px;
    width:50px;
    border-top:6px black solid;
    margin-right:10px;
    margin-top:-16px;
    top:-6px;

}

hr[j]::before{
    border-right:5px black solid;
    border-bottom:5px black solid;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px/50%;

    width:23px;
    height:64px;
    position: absolute;
    left:0px;
    content: '';
    top:0px;
}

hr[k]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:76px;
    width:50px;
    border-left:6px black solid;
    margin-right:10px;

}

hr[k]::before{
    border-top:6px black solid;
    width:60px; 
	height: 20px; 
    position: absolute;
    left:-4px;
    content: '';
    top:14px;
    -ms-transform: rotate(-35deg); 
    -webkit-transform: rotate(-35deg); 
    transform: rotate(-35deg);
}

hr[k]::after{
    border-top:6px black solid;
    width:60px; 
	height: 20px; 
    position: absolute;
    left:-12px;
    content: '';
    top:44px;
    -ms-transform: rotate(55deg); 
    -webkit-transform: rotate(55deg); 
    transform: rotate(55deg);
}

hr[l]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:70px;
    width:50px;
    border:6px black solid;
    border-right:0px;
    border-top:0px;
    margin-right:10px;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:15px;
}

hr[m]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:70px;
    width:27px;
    border:6px black solid;
    border-bottom:0px;
    margin-right:42px;
    border-bottom-right-radius:25px/20px;
    border-top-right-radius:25px;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
}

hr[m]::before{
    border:6px black solid;
    border-bottom:0px;
    border-bottom-right-radius:0px;
    border-top-right-radius:10px;
    border-bottom-left-radius:25px/20px;
    border-top-left-radius:25px;

    width:27px;
    height:70px;
    position: absolute;
    left:27px;
    content: '';
    top:-6px;
}


hr[n]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:76px;
    width:50px;
    border-left:6px black solid;
    border-right:6px black solid;

    margin-right:10px;

}



hr[n]::after{
    border-top:6px black solid;
    width:88px; 
	height: 20px; 
    position: absolute;
    left:-27px;
    content: '';
    top:30px;
    -ms-transform: rotate(52deg); 
    -webkit-transform: rotate(52deg); 
    transform: rotate(52deg);
}

hr[o]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:64px;
    width:50px;
    border:6px black solid;
    margin-right:10px;
    border-bottom-right-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
}

hr[p]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:25px;
    margin-bottom:48px;
    width:40px;
    border:6px black solid;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    border-top-left-radius:3px;
    margin-right:10px;

}

hr[p]::before{
    border-left:6px black solid;
    width:100%;
    height:39px;
    position: absolute;
    top:30px;
    left:-6px;
    content: '';
}

hr[q]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:64px;
    width:50px;
    border:6px black solid;
    margin-right:10px;
    border-bottom-right-radius:25px;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;
    border-top-left-radius:25px;
}

hr[q]::after{
    border-top:6px black solid;
    width:24px; 
	height: 20px; 
    position: absolute;
    left:25px;
    content: '';
    top:50px;
    -ms-transform: rotate(55deg); 
    -webkit-transform: rotate(55deg); 
    transform: rotate(55deg);
}

hr[r]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:25px;
    margin-bottom:48px;
    width:40px;
    border:6px black solid;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    border-top-left-radius:3px;
    margin-right:10px;

}

hr[r]::before{
    border-left:6px black solid;
    width:100%;
    height:39px;
    position: absolute;
    top:30px;
    left:-5px;
    content: '';
}

hr[r]::after{
    border-top:6px black solid;
    width:50px; 
	height: 20px; 
    position: absolute;
    left:-14px;
    content: '';
    top:40px;
    -ms-transform: rotate(55deg); 
    -webkit-transform: rotate(55deg); 
    transform: rotate(55deg);
}

hr[s]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:25px;
    width:40px;
    border:6px black solid;
    border-bottom-left-radius:5px;
    border-top-left-radius:20px;
    border-top-right-radius:3px;
    border-right:none;
    margin-right:10px;
    margin-bottom:48px;

}

hr[s]::before{
    border:6px black solid;
    width:80%;
    height:32px;
    position: absolute;
    top:25px;
    left:3px;
    content: '';
    border-left:none;
    border-bottom-right-radius:15px;
    border-top-right-radius:5px;
        border-bottom-left-radius:3px;

}

hr[s]::after{
    border-bottom:6px black solid;
    width:80%;
    height:32px;
    position: absolute;
    top:30px;
    left:-5px;
    content: '';
    border-left:none;
    

}

hr[t]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:64px;
    width:50px;
    border-top:6px black solid;
    margin-right:10px;
    margin-top:-16px;
    top:-6px;

}

hr[t]::before{
    border-right:5px black solid;


    width:23px;
    height:70px;
    position: absolute;
    left:0px;
    content: '';
    top:0px;
}

hr[u]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:70px;
    width:50px;
    border:6px black solid;
    margin-right:10px;
    border-bottom-right-radius:25px;
    border-bottom-left-radius:25px;
    border-top:none;
}


hr[v]{
border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:70px;
    width:50px;
    margin-right:10px;

    border-top:none;

}



hr[v]::after{
    border-top:6px black solid;
    width:80px; 
	height: 20px; 
    position: absolute;
    left:10px;
    content: '';
    top:22px;
    -ms-transform: rotate(-70deg); 
    -webkit-transform: rotate(-70deg); 
    transform: rotate(-70deg);
    border-bottom-left-radius: 15px;

}

hr[v]::before{
    border-top:6px black solid;
    width:80px; 
	height: 20px; 
    position: absolute;
    left:-37px;
    content: '';
    top:22px;
    -ms-transform: rotate(70deg); 
    -webkit-transform: rotate(70deg); 
    transform: rotate(70deg);
}

hr[w]{
    border:none;
    display:inline-block;
    position:relative;
    float:left;
    height:70px;
    width:27px;
    border:6px black solid;
    border-top:0px;
    margin-right:42px;
    border-top-right-radius:25px/20px;
    border-bottom-right-radius:25px;
    border-top-left-radius:0px;
    border-bottom-left-radius:20px;
}

hr[w]::before{
    border:6px black solid;
    border-top:0px;
    border-top-right-radius:0px;
    border-bottom-right-radius:20px;
    border-top-left-radius:25px/20px;
    border-bottom-left-radius:25px;
    width:27px;
    height:70px;
    position: absolute;
    left:27px;
    content: '';
    top:0px;
}